{% extends "base.html" %}

{% load static %}
{% load i18n %}

    {% block styles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{% static 'css/home/index.css' %}?version=2" >
    {% endblock %}

    {% block title %}Galeria de Imagens{% endblock %}

        {% block content %}
        <section class="main-page">
            <div class="row">
                <div class="col-10">
                    {% if user %}
                    <h3 class="text-center">Olá {{ user }}, seja bem vindo!</h3>
                    {% else %}
                    <h3 class="text-center">Simple Gallery - Welcome</h3>
                    {% endif %}
                </div>
                <div class="col-2">

                <!-- Example split danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info">Gallery</button>
                    <button type="button" class="btn btn-nfo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        {% if user %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:IndexEvents.showAjaxData('/category_detail/0', 0)">Nova Categoria</a>
                        <a class="dropdown-item" href="javascript:IndexEvents.showAjaxData('/category_detail/0', 0)">Nova Imagem</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>











                </div>
            </div>
            <div class="container">
                <table class="datatable">
                    <thead>
                        <th>{% trans "Ícone" %}</th>
                        <th>{% trans "Categoria" %}</th>
                        <th>{% trans "Código" %}</th>
                        <th>{% trans "Usuário" %}</th>
                        <th>{% trans "Tamanho" %}</th>
                        <th>{% trans "Largura" %}</th>
                        <th>{% trans "Altura" %}</th>
                        <th>{% trans "Tipo" %}</th>
                        <th>{% trans "Público" %}</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalimageData" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnClose" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary btnSave" disabled>Salvar Modificações</button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script type="text/javascript">
        const DT_PUBLIC_IMAGES = '{% url "home:list_public_images" %}';
        </script>
        <script src="{% static 'js/home/index.js' %}?version=2" ></script>
        {% endblock %}
