{% extends "base.html" %}

{% load static %}
{% load i18n %}

    {% block styles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{% static 'css/home/index.css' %}" >
    {% endblock %}

    {% block title %}Galeria de Imagens{% endblock %}

        {% block content %}
        <h3 class="text-center">Olá Galeria de Fotos</h3>
        <div class="main-page">
            <table class="datatable">
                <thead>
                    <th>{% trans "fk_categories" %}</th>
                    <th>{% trans "pk_images" %}</th>
                    <th>{% trans "fk_user" %}</th>
                    <th>{% trans "image_size" %}</th>
                    <th>{% trans "image_width" %}</th>
                    <th>{% trans "image_height" %}</th>
                    <th>{% trans "image_type" %}</th>
                    <th>{% trans "flag_public" %}</th>
                    <th>{% trans "thumbnail_image" %}</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script src="{% static 'js/home/index.js' %}?version=2" ></script>
        {% endblock %}
